In [27]:
import pandas as pd
import pickle
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F 
import copy
import math

from tqdm import tqdm

In [28]:
dtype = {
    'userID': 'int16',
    'answerCode': 'int8',
    'KnowledgeTag': 'int16'
}

In [29]:
TEST_DATA_PATH = '/opt/ml/input/data/train_dataset/test_all_three.csv'
test_df = pd.read_csv(TEST_DATA_PATH, dtype=dtype, parse_dates=['Timestamp'])
test_df = test_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)

In [30]:
test_df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626,26.0
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626,94.0
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625,5.0
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625,7.0
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623,3.0

In [31]:
test_df['UID']=test_df['userID'].apply(lambda x:str(x).zfill(6))+test_df['testId']

In [32]:
test_df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626,26.0,000003A050000023
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626,94.0,000003A050000023
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625,5.0,000003A050000023
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625,7.0,000003A050000023
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623,3.0,000003A050000023

In [36]:
#userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed
group = test_df[list(test_df.columns)].groupby('UID').apply(
                lambda r: (
                    r['answerCode'].values,
                    r['assessmentItemID'].values, 
                    r['testId'].values,
                    r['Timestamp'].values,
                    r['KnowledgeTag'].values,
                    r['elapsed'].values,
                )
            )

In [37]:
group[0]

(array([1, 1, 1, 1, 0], dtype=int8),
 array(['A020001001', 'A020001002', 'A020001003', 'A020001004',
        'A020001005'], dtype=object),
 array(['A020000001', 'A020000001', 'A020000001', 'A020000001',
        'A020000001'], dtype=object),
 array(['2020-03-12T00:59:09.000000000', '2020-03-12T00:59:25.000000000',
        '2020-03-12T00:59:34.000000000', '2020-03-12T01:00:19.000000000',
        '2020-03-12T01:01:13.000000000'], dtype='datetime64[ns]'),
 array([7916, 7916, 7916, 7916, 7916], dtype=int16),
 array([16.       ,  9.       , 45.       , 54.       , 45.7140266]))

In [40]:
for idx,g in enumerate(group):
    if idx<15:
        print(g)

(array([1, 1, 1, 1, 0], dtype=int8), array(['A020001001', 'A020001002', 'A020001003', 'A020001004',
       'A020001005'], dtype=object), array(['A020000001', 'A020000001', 'A020000001', 'A020000001',
       'A020000001'], dtype=object), array(['2020-03-12T00:59:09.000000000', '2020-03-12T00:59:25.000000000',
       '2020-03-12T00:59:34.000000000', '2020-03-12T01:00:19.000000000',
       '2020-03-12T01:01:13.000000000'], dtype='datetime64[ns]'), array([7916, 7916, 7916, 7916, 7916], dtype=int16), array([16.       ,  9.       , 45.       , 54.       , 45.7140266]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020005001', 'A020005002', 'A020005003', 'A020005004',
       'A020005005'], dtype=object), array(['A020000005', 'A020000005', 'A020000005', 'A020000005',
       'A020000005'], dtype=object), array(['2020-03-03T07:37:10.000000000', '2020-03-03T07:37:32.000000000',
       '2020-03-03T07:37:38.000000000', '2020-03-03T07:37:44.000000000',
       '2020-03-03T07:38:17.000000000'], dtype='datetime64[ns]'), array([7912, 7912, 7912, 7912, 7912], dtype=int16), array([22.        ,  6.        ,  6.        , 33.        , 28.02803257]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020007001', 'A020007002', 'A020007003', 'A020007004',
       'A020007005'], dtype=object), array(['A020000007', 'A020000007', 'A020000007', 'A020000007',
       'A020000007'], dtype=object), array(['2020-03-05T08:14:38.000000000', '2020-03-05T08:14:47.000000000',
       '2020-03-05T08:14:58.000000000', '2020-03-05T08:15:12.000000000',
       '2020-03-05T08:15:23.000000000'], dtype='datetime64[ns]'), array([7913, 7913, 7913, 7913, 7913], dtype=int16), array([ 9.        , 11.        , 14.        , 11.        , 17.86039189]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020011001', 'A020011002', 'A020011003', 'A020011004',
       'A020011005'], dtype=object), array(['A020000011', 'A020000011', 'A020000011', 'A020000011',
       'A020000011'], dtype=object), array(['2020-03-10T04:03:27.000000000', '2020-03-10T04:03:48.000000000',
       '2020-03-10T04:03:57.000000000', '2020-03-10T04:04:06.000000000',
       '2020-03-10T04:04:25.000000000'], dtype='datetime64[ns]'), array([7915, 7915, 7915, 7915, 7915], dtype=int16), array([21.        ,  9.        ,  9.        , 19.        , 32.93091237]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020013001', 'A020013002', 'A020013003', 'A020013004',
       'A020013005'], dtype=object), array(['A020000013', 'A020000013', 'A020000013', 'A020000013',
       'A020000013'], dtype=object), array(['2020-03-13T02:31:18.000000000', '2020-03-13T02:31:25.000000000',
       '2020-03-13T02:31:39.000000000', '2020-03-13T02:31:58.000000000',
       '2020-03-13T02:32:32.000000000'], dtype='datetime64[ns]'), array([7918, 7918, 7918, 7918, 7918], dtype=int16), array([ 7.        , 14.        , 19.        , 34.        , 46.10028519]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020015001', 'A020015002', 'A020015003', 'A020015004',
       'A020015005'], dtype=object), array(['A020000015', 'A020000015', 'A020000015', 'A020000015',
       'A020000015'], dtype=object), array(['2020-03-19T04:13:22.000000000', '2020-03-19T04:13:24.000000000',
       '2020-03-19T04:13:37.000000000', '2020-03-19T04:13:43.000000000',
       '2020-03-19T04:13:53.000000000'], dtype='datetime64[ns]'), array([7919, 7919, 7919, 7919, 7919], dtype=int16), array([ 2.        , 13.        ,  6.        , 10.        , 11.18128997]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020017001', 'A020017002', 'A020017003', 'A020017004',
       'A020017005'], dtype=object), array(['A020000017', 'A020000017', 'A020000017', 'A020000017',
       'A020000017'], dtype=object), array(['2020-03-20T05:13:00.000000000', '2020-03-20T05:13:11.000000000',
       '2020-03-20T05:13:28.000000000', '2020-03-20T05:13:36.000000000',
       '2020-03-20T05:13:43.000000000'], dtype='datetime64[ns]'), array([7920, 7920, 7920, 7920, 7920], dtype=int16), array([11.        , 17.        ,  8.        ,  7.        , 12.05444839]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020023001', 'A020023002', 'A020023003', 'A020023004',
       'A020023005'], dtype=object), array(['A020000023', 'A020000023', 'A020000023', 'A020000023',
       'A020000023'], dtype=object), array(['2020-03-31T02:53:37.000000000', '2020-03-31T02:54:07.000000000',
       '2020-03-31T02:54:25.000000000', '2020-03-31T02:55:08.000000000',
       '2020-03-31T02:56:06.000000000'], dtype='datetime64[ns]'), array([7696, 7696, 7696, 7696, 7696], dtype=int16), array([30.        , 18.        , 43.        , 58.        , 45.61479946]))
(array([1, 1, 1, 1, 1, 1, 1], dtype=int8), array(['A020025001', 'A020025002', 'A020025003', 'A020025004',
       'A020025005', 'A020025006', 'A020025007'], dtype=object), array(['A020000025', 'A020000025', 'A020000025', 'A020000025',
       'A020000025', 'A020000025', 'A020000025'], dtype=object), array(['2020-02-01T11:25:35.000000000', '2020-02-01T11:25:56.000000000',
       '2020-02-01T11:26:18.000000000', '2020-02-01T11:27:15.000000000',
       '2020-02-01T11:27:44.000000000', '2020-02-01T11:28:10.000000000',
       '2020-02-01T11:29:09.000000000'], dtype='datetime64[ns]'), array([7916, 7916, 7916, 7916, 7916, 7916, 7916], dtype=int16), array([21.        , 22.        , 57.        , 29.        , 26.        ,
       59.        , 47.42696806]))
(array([1, 1], dtype=int8), array(['A020026001', 'A020026002'], dtype=object), array(['A020000026', 'A020000026'], dtype=object), array(['2020-02-19T11:14:36.000000000', '2020-02-19T11:14:52.000000000'],
      dtype='datetime64[ns]'), array([7922, 7922], dtype=int16), array([16.        , 39.57128436]))
(array([1, 1, 1, 1, 1, 1], dtype=int8), array(['A020027001', 'A020027002', 'A020027003', 'A020027004',
       'A020027005', 'A020027006'], dtype=object), array(['A020000027', 'A020000027', 'A020000027', 'A020000027',
       'A020000027', 'A020000027'], dtype=object), array(['2020-01-22T11:12:06.000000000', '2020-01-22T11:13:37.000000000',
       '2020-01-22T11:14:41.000000000', '2020-01-22T11:14:58.000000000',
       '2020-01-22T11:15:12.000000000', '2020-01-22T11:16:17.000000000'],
      dtype='datetime64[ns]'), array([7912, 7912, 7912, 7912, 7912, 7912], dtype=int16), array([91.       , 64.       , 17.       , 14.       , 65.       ,
       39.3095611]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020028001', 'A020028002', 'A020028003', 'A020028004',
       'A020028005'], dtype=object), array(['A020000028', 'A020000028', 'A020000028', 'A020000028',
       'A020000028'], dtype=object), array(['2020-01-23T01:19:59.000000000', '2020-01-23T01:20:28.000000000',
       '2020-01-23T01:20:41.000000000', '2020-01-23T01:21:07.000000000',
       '2020-01-23T01:21:32.000000000'], dtype='datetime64[ns]'), array([7913, 7913, 7913, 7913, 7913], dtype=int16), array([29.        , 13.        , 26.        , 25.        , 29.72415685]))
(array([1, 1, 1, 1, 1], dtype=int8), array(['A020029001', 'A020029002', 'A020029003', 'A020029004',
       'A020029005'], dtype=object), array(['A020000029', 'A020000029', 'A020000029', 'A020000029',
       'A020000029'], dtype=object), array(['2020-01-28T12:00:45.000000000', '2020-01-28T12:01:37.000000000',
       '2020-01-28T12:02:26.000000000', '2020-01-28T12:03:08.000000000',
       '2020-01-28T12:05:24.000000000'], dtype='datetime64[ns]'), array([7914, 7914, 7914, 7914, 7914], dtype=int16), array([ 52.        ,  49.        ,  42.        , 136.        ,
        97.08287468]))
(array([1, 1, 1, 1, 1, 1], dtype=int8), array(['A020030001', 'A020030002', 'A020030003', 'A020030004',
       'A020030005', 'A020030006'], dtype=object), array(['A020000030', 'A020000030', 'A020000030', 'A020000030',
       'A020000030', 'A020000030'], dtype=object), array(['2020-02-01T10:48:44.000000000', '2020-02-01T10:50:54.000000000',
       '2020-02-01T10:51:07.000000000', '2020-02-01T10:51:25.000000000',
       '2020-02-01T10:52:19.000000000', '2020-02-01T10:52:43.000000000'],
      dtype='datetime64[ns]'), array([7915, 7915, 7915, 7915, 7915, 7915], dtype=int16), array([130.        ,  13.        ,  18.        ,  54.        ,
        24.        ,  29.45491768]))
(array([1, 1, 0, 1, 1, 1], dtype=int8), array(['A020031001', 'A020031002', 'A020031003', 'A020031004',
       'A020031005', 'A020031006'], dtype=object), array(['A020000031', 'A020000031', 'A020000031', 'A020000031',
       'A020000031', 'A020000031'], dtype=object), array(['2020-02-04T10:17:53.000000000', '2020-02-04T10:18:16.000000000',
       '2020-02-04T10:18:45.000000000', '2020-02-04T10:19:01.000000000',
       '2020-02-04T10:19:12.000000000', '2020-02-04T10:21:21.000000000'],
      dtype='datetime64[ns]'), array([7918, 7918, 7918, 7918, 7918, 7918], dtype=int16), array([ 23.        ,  29.        ,  16.        ,  11.        ,
       129.        ,  35.92734786]))

In [41]:
z_d = test_df.groupby(['UID'])['answerCode'].agg(['min']).to_dict()

In [49]:
test_df["min"]=test_df.UID.map(z_d['min'])

In [50]:
test_df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID,min
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626,26.0,000003A050000023,0
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626,94.0,000003A050000023,0
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625,5.0,000003A050000023,0
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625,7.0,000003A050000023,0
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623,3.0,000003A050000023,0

In [61]:
ret=test_df[test_df['min']==-1]
ret.reset_index(drop=True)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID,min
0,3,A050133001,A050000133,1,2020-10-26 13:08:41,5288,47.00000,000003A050000133,-1
1,3,A050133002,A050000133,1,2020-10-26 13:09:28,5288,54.00000,000003A050000133,-1
2,3,A050133003,A050000133,1,2020-10-26 13:10:22,5289,109.00000,000003A050000133,-1
3,3,A050133004,A050000133,1,2020-10-26 13:12:11,5289,25.00000,000003A050000133,-1
4,3,A050133005,A050000133,1,2020-10-26 13:12:36,5288,16.00000,000003A050000133,-1
...,...,...,...,...,...,...,...,...,...
4832,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832,18.00000,007439A040000130,-1
4833,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832,21.00000,007439A040000130,-1
4834,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244,89.00000,007439A040000130,-1
4835,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244,32.00000,007439A040000130,-1
4836,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832,27.56193,007439A040000130,-1

In [62]:
len(ret.groupby("UID"))

744

In [63]:
ret.head(50)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID,min
1028,3,A050133001,A050000133,1,2020-10-26 13:08:41,5288,47.000000,000003A050000133,-1
1029,3,A050133002,A050000133,1,2020-10-26 13:09:28,5288,54.000000,000003A050000133,-1
1030,3,A050133003,A050000133,1,2020-10-26 13:10:22,5289,109.000000,000003A050000133,-1
1031,3,A050133004,A050000133,1,2020-10-26 13:12:11,5289,25.000000,000003A050000133,-1
1032,3,A050133005,A050000133,1,2020-10-26 13:12:36,5288,16.000000,000003A050000133,-1
1033,3,A050133006,A050000133,1,2020-10-26 13:12:52,5288,19.000000,000003A050000133,-1
1034,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289,46.000000,000003A050000133,-1
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289,89.076807,000003A050000133,-1
1699,4,A070146001,A070000146,1,2020-12-27 02:45:02,9079,11.000000,000004A070000146,-1
1700,4,A070146002,A070000146,1,2020-12-27 02:45:13,9080,33.000000,000004A070000146,-1
1701,4,A070146003,A070000146,0,2020-12-27 02:45:46,9080,25.000000,000004A070000146,-1
1702,4,A070146004,A070000146,1,2020-12-27 02:46:11,9079,25.000000,000004A070000146,-1
1703,4,A070146005,A070000146,1,2020-12-27 02:46:36,9079,15.000000,000004A070000146,-1
1704,4,A070146006,A070000146,1,2020-12-27 02:46:51,9079,40.000000,000004A070000146,-1
1705,4,A070146007,A070000146,1,2020-12-27 02:47:31,9080,23.000000,000004A070000146,-1
1706,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080,58.502824,000004A070000146,-1
3016,13,A070111001,A070000111,0,2020-12-27 04:33:25,8913,25.000000,000013A070000111,-1
3017,13,A070111002,A070000111,1,2020-12-27 04:33:50,10838,41.000000,000013A070000111,-1
3018,13,A070111003,A070000111,1,2020-12-27 04:34:31,8913,19.000000,000013A070000111,-1
3019,13,A070111004,A070000111,0,2020-12-27 04:34:50,8913,5.000000,000013A070000111,-1
3020,13,A070111005,A070000111,0,2020-12-27 04:34:55,9660,4.000000,000013A070000111,-1
3021,13,A070111006,A070000111,0,2020-12-27 04:34:59,9660,2.000000,000013A070000111,-1
3022,13,A070111007,A070000111,1,2020-12-27 04:35:01,9660,8.000000,000013A070000111,-1
3023,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660,17.364727,000013A070000111,-1
4278,17,A090064001,A090000064,1,2020-10-30 05:42:17,2611,61.000000,000017A090000064,-1
4279,17,A090064002,A090000064,1,2020-10-30 05:43:18,2611,94.000000,000017A090000064,-1
4280,17,A090064003,A090000064,1,2020-10-30 05:44:52,2611,44.000000,000017A090000064,-1
4281,17,A090064004,A090000064,1,2020-10-30 05:45:36,2611,106.000000,000017A090000064,-1
4282,17,A090064005,A090000064,1,2020-10-30 05:47:22,2611,75.000000,000017A090000064,-1
4283,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611,67.255902,000017A090000064,-1
4664,26,A060135001,A060000135,1,2020-10-23 11:39:43,1422,23.000000,000026A060000135,-1
4665,26,A060135002,A060000135,1,2020-10-23 11:40:06,1422,171.000000,000026A060000135,-1
4666,26,A060135003,A060000135,1,2020-10-23 11:42:57,1422,27.000000,000026A060000135,-1
4667,26,A060135004,A060000135,0,2020-10-23 11:43:24,1422,21.000000,000026A060000135,-1
4668,26,A060135005,A060000135,1,2020-10-23 11:43:45,1422,16.000000,000026A060000135,-1
4669,26,A060135006,A060000135,0,2020-10-23 11:44:01,1422,17.000000,000026A060000135,-1
4670,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422,58.905480,000026A060000135,-1
5520,29,A020190001,A020000190,1,2020-10-22 04:37:01,8097,16.000000,000029A020000190,-1
5521,29,A020190002,A020000190,1,2020-10-22 04:37:17,8097,37.000000,000029A020000190,-1
5522,29,A020190003,A020000190,1,2020-10-22 04:37:54,8097,21.000000,000029A020000190,-1
5523,29,A020190004,A020000190,1,2020-10-22 04:38:15,8097,30.000000,000029A020000190,-1
5524,29,A020190005,A020000190,-1,2020-10-22 04:38:45,8097,37.059193,000029A020000190,-1
6604,45,A040136001,A040000136,1,2020-10-23 08:22:39,2107,84.000000,000045A040000136,-1
6605,45,A040136002,A040000136,0,2020-10-23 08:24:03,2107,11.000000,000045A040000136,-1
6606,45,A040136003,A040000136,0,2020-10-23 08:24:14,2107,1.000000,000045A040000136,-1
6607,45,A040136004,A040000136,0,2020-10-23 08:24:15,2107,4.000000,000045A040000136,-1
6608,45,A040136005,A040000136,-1,2020-10-23 08:24:19,2107,21.673586,000045A040000136,-1
7297,53,A040140001,A040000140,1,2020-10-26 09:12:39,2109,11.000000,000053A040000140,-1
7298,53,A040140002,A040000140,1,2020-10-26 09:12:50,2110,3.000000,000053A040000140,-1
7299,53,A040140003,A040000140,0,2020-10-26 09:12:53,2110,7.000000,000053A040000140,-1

In [64]:
del ret['min']

In [65]:
ret.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID
1028,3,A050133001,A050000133,1,2020-10-26 13:08:41,5288,47.0,000003A050000133
1029,3,A050133002,A050000133,1,2020-10-26 13:09:28,5288,54.0,000003A050000133
1030,3,A050133003,A050000133,1,2020-10-26 13:10:22,5289,109.0,000003A050000133
1031,3,A050133004,A050000133,1,2020-10-26 13:12:11,5289,25.0,000003A050000133
1032,3,A050133005,A050000133,1,2020-10-26 13:12:36,5288,16.0,000003A050000133

In [66]:
ret.to_csv('/opt/ml/input/data/train_dataset/test_uid.csv',index=False)

In [67]:
TRAIN_DATA_PATH = '/opt/ml/input/data/train_dataset/train_all_three.csv'
train_df = pd.read_csv(TRAIN_DATA_PATH, dtype=dtype, parse_dates=['Timestamp'])
train_df = train_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)

In [68]:
train_df['UID']=train_df['userID'].apply(lambda x:str(x).zfill(6))+train_df['testId']

In [69]:
train_df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,elapsed,UID
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,3.0,000000A060000001
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,8.0,000000A060000001
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,7.0,000000A060000001
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,7.0,000000A060000001
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,11.0,000000A060000001

In [70]:
train_df.to_csv('/opt/ml/input/data/train_dataset/train_uid.csv',index=False)